In [9]:
# import pandas module
# import os module
import pandas as pd
import os
import json

In [15]:
# Define a file path (using os module) pointing to the pickled file from Exercise 1
# Create a Pandas DataFrame from the pickled file. Use the file path as an argument.

df = pd.read_pickle('/Users/sean/labs/PandasLabs/DataEngineering.Labs.NOAALocations/pickled NOAA')

In [16]:
# Display the DataFrame
df

,mindate,maxdate,name,datacoverage,id,source
0,1948-05-01,2021-07-11,"Highgate Center, VT 05459",1.00,ZIP:05459,locations_10.json
1,1995-05-08,2021-07-11,"Hinesburg, VT 05461",1.00,ZIP:05461,locations_10.json
2,1955-11-01,2021-07-12,"Huntington, VT 05462",1.00,ZIP:05462,locations_10.json
3,1997-03-06,2021-07-11,"Isle la Motte, VT 05463",0.95,ZIP:05463,locations_10.json
4,1995-05-08,2021-07-12,"Jeffersonville, VT 05464",1.00,ZIP:05464,locations_10.json
...,...,...,...,...,...,...
995,1994-06-15,2021-07-11,"Mont Clare, PA 19453",0.95,ZIP:19453,locations_13.json
996,1972-01-01,2021-07-12,"North Wales, PA 19454",1.00,ZIP:19454,locations_13.json
997,1894-01-01,2021-07-11,"Phoenixville, PA 19460",1.00,ZIP:19460,locations_13.json
998,1994-06-15,2021-07-12,"Plymouth Meeting, PA 19462",1.00,ZIP:19462,locations_13.json
999,1894-01-01,2021-07-12,"Pottstown, PA 19464",1.00,ZIP:19464,locations_13.json